{% extends "UTTCursusBundle::layout.html.twig" %}


{% block etu_body %}
    {% form_theme form 'UTTCoreBundle::fields.html.twig' %}
    <h2 id="tamere">Ajouter Cursus</h2>
    <div class="well col-lg-12">
        {{ form_start(form, {'attr': {'class': 'col-lg-12'}}) }}
            <div class="form-group col-lg-6">
                <label for="idetu">Id Etudiant :</label>
                <input type="text" class="form-control" id="idetu">
            </div>
            <div class="form-group col-lg-6">
                <label for="nomprenom">Prenom Nom :</label>
                <input type="text" class="form-control" id="nomprenom" disabled="disabled">
            </div>
        {{ form_row(form.elements)}}

        </div>
        <a href="#" id="add_element" class="btn btn-default">Ajouter un élement de cursus</a>
        <button type="submit" class="btn btn-primary">Valider</button>
        <button type="reset" class="btn btn-default">Reset</button>
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/addCursusListener.js') }}"></script>
    <script src="{{ asset('js/AddForm.js') }}"></script>
{% endblock %}